.profile-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
  margin-top: 0px;
}

.profile-block img {
  border-radius: 200px;
  width: 25%;
}

.profile-block-div {
  width: 50%;
}

@media (max-width: 800px) {
  .profile-block {
    flex-direction: column;
    align-items: center;
  }

  .profile-block-div {
    width: auto;
  }

  .profile-block img {
    width: 50%;
    margin-bottom: 50px;
  }
}
