.artwork-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  max-height: 100%;
  object-fit: contain;
  width: auto;
}

.artwork-row img {
  flex: 1;
  margin: 10px;
  max-height: 100%;
  object-fit: contain;
  width: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 100%;
}

.column img {
  margin-bottom: 10px;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.art-block-one {
  padding: 0 100px;
  padding-bottom: 70px;
  display: flex;
  height: 80vh;
}

.art-block-two {
  padding: 0 100px;
  display: flex;
  height: 80vh;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .artwork-row {
    display: block;
  }

  .art-block-one {
    display: block;
    height: auto;
  }

  .art-block-two {
    display: block;
    height: auto;
  }

  .artwork-row img {
    width: 100%; /* Full width images on mobile */
    margin: 5px 0; /* Adjust margin for mobile */
  }

  .column img {
    margin-bottom: 5px; /* Adjust margin for mobile */
  }
}
