.artwork-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artwork-row img {
  margin: 10px;
  width: 30%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .artwork-row {
    display: block;
  }

  .art-block-one {
    display: block;
    height: auto;
  }

  .art-block-two {
    display: block;
    height: auto;
  }

  .artwork-row img {
    width: 100%; 
    margin: 5px 0; 
  }

  .column img {
    margin-bottom: 5px; 
  }
}
