.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: width 0.15s ease-out, height 0.15s ease-out;
}

.custom-cursor.hovering {
  width: 32px;
  height: 32px;
}

body {
  cursor: none;
}

a,
button,
input,
video,
[role="button"] {
  cursor: none !important;
}
