.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: darkgray;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
}

body {
  cursor: none; /* Hide the default cursor */
}
a,
button,
input,
[role="button"] {
  cursor: none !important; /* Hide the default cursor on all clickable elements */
}

video::-webkit-media-controls {
  cursor: auto; /* Use default cursor for native controls */
}
