.project-title {
  font-size: 28px; /* Larger on desktop */
  font-weight: 600;
  margin-bottom: 25px;
  color: black;
}

.project-description-block {
  display: flex;
  justify-content: center;
  padding: 0px 70px; /* Spacing on desktop */
}
.project-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  align-items: flex-start;
}

.project-row {
  padding: 0px 70px;
  max-width: 55%;
}

.project-description {
  font-size: 14px; /* Size on desktop */
  font-weight: 400;
}

.project-description-inner-block {
  display: flex;
  flex-direction: column;
}

video {
  cursor: none !important;
}

/* Media query for mobile devices */
@media (max-width: 1000px) {
  .project-title {
    font-size: 22px;
    margin: 15px 0px;
  }

  .project-description-block,
  .project-row {
    margin: 0px 50px 25px 50px;
  }

  .project-description {
    font-size: 14px; /* Smaller text on mobile */
    margin-bottom: 25px;
  }

  .project-block {
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: center; /* Center align the stacked elements */
  }
}
