.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  padding-top: 50px;
  padding-bottom: 140px;
}

.header-menu {
  display: flex;
  justify-content: end;
  padding: 50px;
  padding-bottom: 5px;
  padding-right: 150px;
  font-size: 12px;
}

.header-left {
  font-size: 24px;
  font-weight: bold;
}

.header-right a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 180px;
  font-weight: bold;
  color: white;
}

.header-menu a div {
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  color: gray;
}

.header-menu a div:hover {
  rotate: -15deg;
  transition: rotate 0.3s ease;
}

.header-item {
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  color: gray;
  transition: transform 2s ease;
}

@media (max-width: 800px) {
  .header {
    padding-bottom: 50px;
  }
}
