/* Your Existing Header Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  padding-top: 50px;
  padding-bottom: 140px;
}

.header-menu {
  display: flex;
  justify-content: end;
  padding: 50px;
  padding-bottom: 5px;
  padding-right: 150px;
  font-size: 12px;
}

.header-menu span {
  padding: 20px;
  font-weight: 600;
}

.header-left {
  font-size: 24px;
  font-weight: bold;
}

.header-right a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 180px;
  font-weight: bold;
  color: white;
}
