.noa-logo {
  display: flex;
  /* Adjust the gap to match your design preference */
  gap: 15px;
  font-weight: 1000; /* Makes the font bold */
  font-size: 40px; /* Increase the font size to make the logo much bigger */
  /* You can add more design-specific fonts, colors, and other properties here */
}

.letter-box {
  position: relative; /* Needed for absolute positioning of letters */
  background-color: white; /* White border for the rectangle */
  height: 70px; /* Adjust based on your requirement */
  width: 70px; /* Adjust based on your requirement */
  display: flex;
  align-items: center; /* This aligns the child elements (the letters) vertically center */
  justify-content: center; /* This centers the child elements horizontally */
  color: #f3d790; /* This should be the same as your page's background color */
}

.letter-box:nth-child(1) {
  height: 70px; /* Adjust based on your requirement */
  width: 55px; /* Adjust based on your requirement */
}
.letter-box:nth-child(2) {
  height: 50px; /* Adjust based on your requirement */
  width: 40px; /* Adjust based on your requirement */
  margin-top: 30px;
}
.letter-box:nth-child(3) {
  height: 55px; /* Adjust based on your requirement */
  width: 55px; /* Adjust based on your requirement */
  font-size: 35px;
}

/* Positions the 'N' to the left */
.letter-box:nth-child(1) span {
  position: absolute;
  left: -2px; /* Adjust as necessary for the desired offset */
  top: 50%;
  font-size: 45px;
  transform: translateY(-50%);
}

.letter-box:nth-child(2) span {
  position: absolute;
  left: 5px; /* Adjust as necessary for the desired offset */
  top: 5%; /* Moves 'o' a bit down from the center */
}

/* Keeps the 'A' centered */
.letter-box:nth-child(3) span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
