.noa-logo {
  display: flex;
  gap: 15px;
  font-weight: 1000;
  font-size: 40px; 
  color: #f4f1ef;
}

.letter-box {
  position: relative;
  height: 70px; 
  width: 70px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.letter-box:nth-child(1) {
  height: 70px;
  width: 55px; 
}
.letter-box:nth-child(2) {
  height: 50px; 
  width: 40px; 
  margin-top: 30px;
}
.letter-box:nth-child(3) {
  height: 55px; 
  width: 55px; 
  font-size: 35px;
}

.letter-box:nth-child(1) span {
  position: absolute;
  left: -2px; 
  top: 50%;
  font-size: 45px;
  transform: translateY(-50%);
}

.letter-box:nth-child(2) span {
  position: absolute;
  left: 5px; 
  top: 5%; 
}

.letter-box:nth-child(3) span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
