.title {
  font-size: 30px;
  font-weight: 600;
  margin: 0px 50px;
  color: black;
}

.project-subtext {
  font-size: 20px;
  margin: 30px 50px;
}

.main-image {
  width: 100%;
  height: auto;
}

.intro {
  font-size: 20px;
  margin: 75px 50px;
  width: 50%;
}

.text-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-block img {
  width: 60%;
  border-radius: 10px;
  margin-left: 30px;
}
